body {
    background: #fbfbfb;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px 10px 100px;
    background: #cecece;
  }
  
  .logo {
    width: 100px;
  }
  
  .logo img {
    width: 100%;
  }
  
  .search {
    position: relative;
  }
  
  .search input {
    width: 700px;
    border: 1px solid #6e6e6e;
    border-radius: 10px;
    padding: 10px 10px 10px 60px;
  }
  
  .search img {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translatey(-50%);
    width: 20px;
  }
  
  .icons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  .icons img {
    width: 30px;
    margin: 0px 10px;
  }
  
  main {
    padding: 70px;
  }
  
  h1 {
    font-size: 20px;
    font-weight: 700;
  }
  
  h2 {
    font-size: 18px;
    font-weight: 400;
  }
  
  h3 {
    font-size: 12px;
    font-weight: 400;
  }
  
  p {
    font-size: 12px;
    font-weight: 400;
  }
  
  h1 span {
    font-size: 15px;
    font-weight: 400;
    margin-left: 20px;
  }
  
  .selectdel {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .selectdel .selectdel label {
    font-size: 14px;
    font-weight: 400;
  }
  
  .selectdel img {
    width: 20px;
  }
  
  .card.cartname {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 30px;
    margin: 10px 0;
  }
  
  .card img.profile {
    width: 200px;
  }
  
  .card img.delete {
    width: 20px;
  }
  
  .card .product {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    text-align: center;
  }
  
  .card .product a {
    width: 20px;
    height: 20px;
    border: 1px solid #c7c7c7;
    font-size: 12px;
    margin: 0 5px;
  }
  
  .card .product span {
    width: 30px;
    height: 20px;
    border: 1px solid #c7c7c7;
    font-size: 12px;
  }
  
  .yourpast {
    margin: 50px 0;
  }
  
  .yourpast h1 {
    text-align: center;
  }
  
  .yourcardflex {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .yourcardflex .card.your {
    padding: 30px 50px;
    margin: 0px 10px;
  }
  
  .yourcardflex .card.your img.main {
    width: 200px;
  }
  
  .yourcardflex .card.your .innercard {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .yourcardflex .card.your .innercard p {
    width: 50%;
  }
  
  .yourcardflex .card.your .innercard a {
    width: 50%;
  }
  
  .yourcardflex .card.your .innercard img {
    width: 20px;
  }
  
  footer {
    background-color: #c7c7c7;
  }
  
  footer .checkout {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  footer .checkout p {
    font-size: 20px;
    font-weight: 400;
  }
  
  footer .checkout button {
    width: 200px;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    padding: 50px;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    margin-left: 50px;
  }
  
  footer .footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    padding: 50px 100px 50px 50px;
  }
  
  footer .footer .logo {
    margin-bottom: 20px;
  }
  
  footer .footer p {
    margin-bottom: 50px;
  }
  
  footer .footer .ficons {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  
  footer .footer .ficons img {
    width: 40px;
    margin-right: 15px;
  }
  
  footer .footer h2 {
    font-size: 20px;
    font-weight: 400;
    text-decoration: underline;
  }
  
  footer .footer a {
    display: block;
    font-size: 16px;
    font-weight: 400;
  }